
.terminal_wrap {
    perspective: 1px;
    background: black;
    overflow-x: hidden;
    color: $light_txt;
    ::-webkit-scrollbar{
        display: none;
    }
}
section {
    width: 100%;
}
h1{
    font-size: toRem(48);
    font-weight: 600;
    line-height: 4rem;
}
p{
    font-size: toRem(18);
}
button {
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    border: none;
}
canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
    max-height: 100vh;
    position: sticky;
}

