.c_cmQuestions{
    padding: 10rem 0;
    @include flex(space-between, flex-start, 0);
    &_acc{
        width: 70%;
        @include flex_col(2.5rem);
        color: $fd-gr;
    }
}
.bottom_line {
    background: #ebecf0 ;
    width: 100%;
    height: 1px;
}