.animate-button {
  width: auto;
  color: $light-txt-1;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  @include flex(center, center, 1rem);
  border: 1px solid $yellow;
  font-weight: 500;
  font-size: 1.15rem;
  background: linear-gradient(to right, $yellow 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  &:hover {
    cursor: pointer;
    background-position: left bottom;
    color: $black;
    svg {
      path {
        stroke: $black;
      }
    }
  }
  svg {
    path {
      stroke: white;
      @include media("<=phone-tab") {
        // stroke: $black;
      }
    }
  }
  @include media("<=phone-tab") {
    width: 100%;
    // background: $yellow;
    // color: $black;
  }
}

.animate-button-reverse {
  width: auto;
  color: $black;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  @include flex(center, center, 1rem);
  border: 1px solid $yellow;
  font-weight: 500;
  font-size: 1.15rem;
  background: linear-gradient(to right, $yellow 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
  &:hover {
    cursor: pointer;
    background-position: right bottom;
    color: $light-txt-1;
    svg {
      path {
        stroke: white;
      }
    }
  }
  svg {
    path {
      stroke: $black;
      @include media("<=phone-tab") {
        // stroke: $black;
      }
    }
  }
  @include media("<=phone-tab") {
    width: 100%;
    // background: $yellow;
    // color: $black;
  }
}
.keep-dark {
  svg {
    path {
      stroke: $black !important;
    }
  }
}
.mq {
  // filter: grayscale(100%);
  padding: 5rem 0;
  width: 100%;
  overflow: hidden !important;
  @include flex(flex-start, center, 2rem);

  > div {
    @include flex(flex-start, center, 3rem);
    flex-wrap: nowrap;
    overflow: visible;
    flex-shrink: 0;
    animation: marquee 200s linear 0s infinite normal forwards;

    &:nth-child(2) {
      display: none;

      @include media("<=phone-tab") {
        display: flex;
      }
    }

    @include media("<=phone-tab") {
      gap: 2rem;
      animation: marqueeMobile 200s linear 0s infinite normal forwards;
      -webkit-animation: marqueeMobile 200s linear 0s infinite normal forwards;
    }
  }

  @include media("<=phone-tab") {
    width: 100%;
    gap: 2rem;
    padding-top: 3.5rem;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  // 50% {
  //   transform: translateX(20%);
  // }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes marqueeMobile {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateX(-55%);
    -webkit-transform: translateX(-55%);
    -moz-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    -o-transform: translateX(-55%);
  }

  100% {
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
  }
}
