.terminal_hero {
  min-height: 80vh;
  position: relative;
  &_txt {
    @include flex(space-between, flex-end, 3rem);
    h1 {
      -webkit-text-stroke: 1px $light-txt;
      text-stroke: 1px $light-txt;
      color: transparent;
    }
    &_r {
      @include flex_col(2rem);
      button{
        width: auto;
        padding: .8rem 1.5rem;
        border-radius: .8rem;
        @include flex(center,center,1rem);
        border: 1px solid $yellow;
        font-weight: 500;
      }
    }
  }
}
