.c_czoom{
     min-height: 90vh;
     padding: 10rem 0;
     position: relative;
     overflow: hidden;
     &_posLeft{
        left: -20%;
        top: 15%;
     }
     &_posRight{
       right: -20%;
       top: 15%;
     }
}