.terminal_hero {
  position: relative;
  height: 40rem;
  width: 80%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;

  @include media("<=tablet") {
    width: 90%;
    height: 60rem;
  }

  @include media("<=phone-tab") {
    width: 90%;
    height: 45rem;
  }

  &_video {
    width: 50%;
    margin: 0 auto;
    position: relative;

    @include media("<=tablet") {
      width: 70%;
    }

    @include media("<=phone-tab") {
      width: 100%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.799) 70%);
    }

    &::after {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.779) 70%);
    }

    video {
      width: 100%;
      position: relative;
      filter: brightness(60%) contrast(100%);
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    }
  }

  &_sect {
    position: absolute;
    bottom: 0%;
    @include flex_col(4rem);

    &_txt {
      @include flex(space-between, flex-end, 2.5rem);

      @include media("<=tablet") {
        @include flex_col(3rem);
      }

      @include media("<=phone-tab") {
        @include flex_col(2.8rem);
      }

      h1 {
        -webkit-text-stroke: 1px $light-txt;
        text-stroke: 1px $light-txt;
        color: transparent;
      }

      &_l {
        @include media("<=tablet") {
          width: 100%;
          @include flex_col(1rem);
        }

        .one {
          @include media("<=phone-tab") {
            display: none !important;
          }
        }

        .two {
          display: none !important;

          @include media("<=phone-tab") {
            display: block !important;
          }
        }

        svg {
          max-width: 45rem;

          @include media("<=phone-tab") {
            max-width: 100%;
          }
        }
      }

      &_r {
        z-index: 30;
        @include flex_col(3rem);
        color: $light-txt-1;

        @include media("<=phone-tab") {
          @include flex_col(2rem);
        }

        p {
          @include media("<=tablet") {
            max-width: 100%;
          }
        }

        button {
          width: auto;
          padding: 0.8rem 1.5rem;
          border-radius: 0.8rem;
          @include flex(center, center, 1rem);
          border: 1px solid $yellow;
          font-weight: 500;
          font-size: 1.15rem;
          background: linear-gradient(to right, $yellow 50%, transparent 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all 0.5s ease-out;

          &:hover {
            cursor: pointer;
            background-position: left bottom;
            color: $black;

            svg {
              path {
                stroke: $black;
              }
            }
          }

          svg {
            path {
              stroke: white;

              @include media("<=phone-tab") {
                stroke: $black;
              }
            }
          }

          @include media("<=phone-tab") {
            width: 100%;
            background: $yellow;
            color: $black;
          }
        }
      }
    }
  }
}

.play_mobile {
  display: none;
  z-index: 25;

  @include media("<=tablet") {
    display: block;
    position: absolute;
    top: 20%;
    left: 10rem;
  }

  .close_vid_m {
    height: 3rem;
    z-index: 30;
    width: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 0.1rem;
      height: 2rem;
      display: inline-block;
      background-color: $black;

      &:nth-child(1) {
        transform: rotate(55deg) scale(0.85);
      }

      &:nth-child(2) {
        transform: rotate(-55deg) scale(0.85);
      }
    }
  }
}

.play_btn {
  @include media("<=tablet") {
    display: none;
  }

  z-index: 25;
  position: absolute;
  top: 10%;
  left: 10%;

  .close_vid {
    height: 5rem;
    width: 5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 0.2rem;
      height: 2rem;
      display: inline-block;
      background-color: $black;

      &:nth-child(1) {
        transform: rotate(5rem0deg) scale(0.85);
      }

      &:nth-child(2) {
        transform: rotate(-40deg) scale(0.85);
      }
    }
  }
}

.hero_video_pl {
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  video {
    width: 100%;
    height: 100%;
    outline: none;
    backdrop-filter: blur(10px);
  }
}

.view {
  display: block;
}

.mq {
  // filter: grayscale(100%);
  padding: 5rem 0;
  width: 100%;
  overflow: hidden !important;
  @include flex(flex-start, center, 2rem);

  >div {
    @include flex(flex-start, center, 3rem);
    flex-wrap: nowrap;
    overflow: visible;
    flex-shrink: 0;
    animation: marquee 25s linear 0s infinite normal forwards;

    &:nth-child(2) {
      display: none;

      @include media("<=phone-tab") {
        display: flex;
      }
    }

    @include media("<=phone-tab") {
      gap: 3rem;

    }
  }

  @include media("<=phone-tab") {
    width: 100%;
    gap: 2rem;
    padding-top: 3.5rem;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.off {
  display: none;
}