@import "../partials/variables";

.black-button {
  border: 2px solid black;
  background-color: black;
  color: white;
}

.contact-btn-white {
  border: 2px solid $out-lined-btn-border;

  color: black;
  border-radius: 13px;
  padding: 1.2rem 3rem;
  background-color: transparent;
  &:hover {
    background-color: #1a1a1a;
    color: white;
  }
}
