@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@layer base {
  body {
    @apply font-primary;
  }
}

@media (min-width: 1400px) {
  .slider-margin-left {
    margin-left: calc((100% - 1320px) / 2);
  }
}

.swiper-pagination > .swiper-pagination-bullet {
  @apply mr-2 rounded-full;
  background: white;
  opacity: 1;
  border: black solid 1px;
  width: 11px;
  height: 11px;
}

.swiper-pagination-bullet-active {
  @apply !bg-black;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  font-weight: 100;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.policy-page {
  @apply py-12;
}

.policy-page h2 {
  @apply mt-12;
  @apply mb-5;
}

.policy-page p {
  @apply mb-3;
}

.menu-button-wrap li a {
  @apply w-full;
}

.policy-page ul {
  list-style-type: disc;
  list-style-position: inside;
}

.policy-page ul > li {
  @apply my-2;
}

ul.policy-nav {
  list-style-type: none;
  @apply flex;
  @apply flex-wrap;
  @apply my-14;
}

ul.policy-nav p {
  @apply mb-0;
}

ul.policy-nav div {
  @apply mt-2;
}

ul.policy-nav li {
  @apply my-4;
}

ul.policy-nav li:not(:last-child) {
  @apply mr-[80px];
}

dt {
  @apply my-2;
}

.nomba-max-advert {
  position: relative;
  @apply text-center;
  @apply relative;
  @apply px-0;
  @apply mt-20;
}

.nomba-max-advert:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url("src/assets/images/jpegs/Subtract.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.illustration svg {
  @apply mx-auto;
  @apply min-h-[100px];
}

@screen md {
  .illustration svg {
    @apply mx-0;
  }
}

.swiper-pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-class > .swiper-pagination-progressbar-fill {
  @apply !bg-n-yellow;
}

/* 
.swiper-pagination-progressbar-fill {
  height: 100%;
  background-color: #f00;
}

.swiper-pagination-progressbar-opposite {
  height: 100%;
  background-color: #fff;
} */
