@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@layer base {
  body {
    @apply font-primary;
    overflow-x: hidden !important;
  }
}

@media (min-width: 1400px) {
  .slider-margin-left {
    margin-left: calc((100% - 1320px) / 2);
  }

  .slider-margin-right {
    margin-right: calc((100% - 1320px) / 2);
  }

  .slider-padding-right {
    padding-right: calc((100% - 1320px) / 2);
  }

  .slider-padding-left {
    padding-left: calc((100% - 1320px) / 2);
  }
}

.grey-bordered-button {
  border: 1px solid #999999 !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  @apply mr-2 rounded-full;
  background: white;
  opacity: 1;
  border: black solid 1px;
  width: 11px;
  height: 11px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 0, 0) !important;
}

.swiper-pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-class > .swiper-pagination-progressbar-fill {
  background-color: rgb(255 204 0) !important;
  top: -4px !important;
  height: 5px !important;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 0.5px !important;
  background-color: rgb(153 153 153) !important;
}

.swiper-slide {
  height: auto !important;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  font-weight: 100;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.policy-page {
  @apply py-12;
}

.policy-page h2 {
  @apply mt-12;
  @apply mb-5;
}

.policy-page p {
  @apply mb-3;
}

.menu-button-wrap li a {
  @apply w-full;
}

.policy-page ul {
  list-style-type: disc;
  list-style-position: inside;
}

.policy-page ul > li {
  @apply my-2;
}

ul.policy-nav {
  list-style-type: none;
  @apply flex;
  @apply flex-wrap;
  @apply my-14;
}

ul.policy-nav p {
  @apply mb-0;
}

ul.policy-nav div {
  @apply mt-2;
}

ul.policy-nav li {
  @apply my-4;
}

ul.policy-nav li:not(:last-child) {
  @apply mr-[80px];
}

dt {
  @apply my-2;
}

.nomba-max-advert {
  position: relative;
  @apply text-center;
  @apply relative;
  @apply px-0;
  @apply mt-20;
}

.nomba-max-advert:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("src/assets/images/jpegs/Subtract.png");
  background-repeat: repeat;
  background-position: top;
  background-size: contain;
}

.illustration svg {
  @apply min-h-[100px];
}

.box-wrapper {
  border: 0px solid #121212;
  transition: all 0.6s ease 0s;

  div {
    color: #717171 !important;
    transition: all 0.6s ease 0s;
  }

  &:hover {
    border: 3px solid #ffcc00;

    div {
      color: #fff !important;
    }
  }

  .hero-image-margin {
    margin-left: -200px !important;
  }
}
.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-balance {
  text-wrap: balance;
}
.padding-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow: hidden;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.loader {
  border: 5px solid #e3e3e3;
  border-top: 5px solid #ffcc00;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.line-numbers .line-numbers-rows {
  border-right: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #1A1A1A;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #0D0D0D;
}

::-webkit-scrollbar {
  width: 8px;
}

