tr:nth-child(even) {
  background-color: #383838;
  padding-left: 20px;
}
th:first-child,
td:first-child {
  @apply md:w-[350px] w-[200px];
}
td {
  padding: 12px 20px;
}

td:not(:first-child) {
  text-align: center;
}
