.pane {
  &:hover {
    svg.menuIconOne {
      ellipse {
        fill: #FFCC00;
      }
      circle {
        fill: #FFCC00;
      }
    }
    svg.menuIconTwo {
      ellipse {
        fill: #33FF00;
      }
      circle {
        fill: #33FF00;
      }
    }
    svg.menuIconThree {
      ellipse {
        fill: #00FFF6;
      }
      circle {
        fill: #00FFF6;
      }
    }
  }
}