.d_waitlist{
    padding: 6rem 0;
    @include flex_col(7rem);
    color: $fd-gr;
    @include media("<=tablet"){
        width: 90%;
        margin: 0 auto
    }
    &_tr{
        @include flex_col(2rem);
        p{
            max-width: 30%;
            @include media("<=tablet"){
                max-width: 70%;
            }
            @include media("<=phone-tab"){
                max-width: 100%;
            }
        }
        &_input{
            @include media("<=tablet"){
                @include flex_col(2rem);
            }
            @include media("<=phone-tab"){
                @include flex_col(20px);
            }
            input{
                background: $bl-100;
                border-radius: .2rem;
                padding: .7rem 1.5rem;
                color: rgba(198, 198, 198, 1);
                min-width: 20rem;
            }
        }
    }
    &_th{
        color: #8C8C8C;
        a{
            color: $yellow;
        }
    }
}
.confirm_bd{
    width: 100%;
    display: none;
    z-index: 30;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: brightness(40%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .waitlist_success{
        width: 40rem;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 5rem 0;
        position: sticky;
        top: 40%;
       left: 25%;
       top: 10%;
        background: radial-gradient(69% 69% at 50% 12.2%, #242424 0%, #0A0A0A 100%);
        @include flex_col(2rem);
        align-items: center;
        &_txt{
            @include flex_col(3rem);
            p{
                font-size: 1.1rem;
                color: #707070;
            }
        }
}
}