$black: #1e1e1e;
$yellow: #ffcc00;
$light_txt:#FAFAFA;
$light-txt-1:#EEEEEE;
$fade-gray: #717171;
$bl-100:#383838;
$fd-gr:#C6C6C6;

%noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none;
    user-select: none;
}
%nodrag {
    -webkit-user-drag: none;
}