// colors
$cr-white: hsl(0, 0%, 100%);
$cr-blue-1: hsl(49, 69%, 59%);
$cr-blue-2: hsl(234, 41%, 15%);
$cr-blue-3: hsl(237, 43%, 10%);
$accent-color: #4d4d4d;
$nomba-color: #fc0;
$primary-color: #333;
$higlighted-text: #ffeb99;
$cursor-color: #333;
$cta-bg: #fffae6;
$black: #1a1a1a;
$gray2: #4d4d4d;

// subtle colors
$cr-blue-500a: hsla(0, 0%, 0%, 0.5);

$font-stack: Helvetica, sans-serif;
