$accsent-color: #333;
$red-border: #ff7a66;
$drop-down-bg: #333333;
$drop-text: #808080;
$general-border-radius: 8px;
$bg: rgba(77, 77, 77, 0.16);

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;

  &:after {
    content: "\0025BC";
    font: normal normal normal 12px/1 FontAwesome;
    color: white;
    right: 14px;
    top: 4px;
    height: 26px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
}

.de-elevate {
  z-index: 0;
}

.red-box {
  border: 1px solid $red-border;
  border-radius: 8px;
  background-color: $bg;
  padding: 8px 16px;
  width: 100%;

  &:hover {
    border: 1px solid #b3b3b3;
  }

  input {
    background-color: transparent;

    &::placeholder {
      color: #4d4d4d;
    }

    &:focus {
      background-color: none;
      border: none;
    }
  }

  .select-class {
    width: 100%;

    background-color: transparent;
    .got-button {
      max-width: 388px;
      height: 56px !important;
      padding: 18px 40px !important;
      background-color: transparent !important;
      border: 1px solid rgba(51, 51, 51, 0.64);
    }
  }

  select {
    option {
      background-color: #121212;
      color: #fff;
    }
  }

  label {
    color: #b3b3b3;
  }
}

.input-box {
  border: 1px solid $accsent-color;
  border-radius: 8px;
  background-color: $bg;
  padding: 8px 16px;
  width: 100%;

  &:hover {
    border: 1px solid #b3b3b3;
  }

  input {
    background-color: transparent;

    &::placeholder {
      color: #4d4d4d;
    }
  }

  .select-class {
    width: 100%;
    background-color: transparent;
  }

  select {
    option {
      background-color: #121212;
      color: #b80e0e;
      top: 20px;
    }
  }

  label {
    color: #b3b3b3;
  }
}

.basis {
  width: 48%;
}

.select-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.drop-down-items-container {
  width: 200%;
  // border: 1px solid red;
  min-height: 300px;
}

.drop-down-items-container2 {
  width: 200%;
  // border: 1px solid red;
  min-height: 300px;
  padding-left: 100%;
}

.drop-down-items {
  position: absolute;
  top: 70px;
  background-color: $drop-down-bg;
  color: $drop-text;
  width: 100%;
  border-radius: $general-border-radius;
  padding: 8px;
  overflow-y: scroll;
}

.drop-down-contents {
  padding: 8px;
  border-radius: $general-border-radius;
  font-weight: 500;

  cursor: pointer;

  &:hover {
    background-color: #4d4d4d;
    color: #fff;
    font-weight: 600;
  }
}

.pointer {
  cursor: pointer;
}

input {
  width: 100%;
  background-color: transparent !important;
  border: none;

  &:focus {
    background-color: none;
    border: none;
  }
}

input.disable-focus {
  pointer-events: none;
}

.noselect {
  user-select: none;
}

.select-input {
  width: 50%;
}

.close-btn {
  background-color: #333333;
  border-radius: 50%;
  // height: 30px;
  // width: 30px;
  color: #121212;
  &:hover {
    background-color: #333333;
  }
}

.sucess-box {
  height: 80vh;

  .inner-box {
    margin-top: -10rem;
  }

  .circle {
    background-color: #f5fff23d;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .drawer-content {
    // border-radius: 16px;
    margin: 0px;
    padding-top: 2rem;
  }

  .close-btn {
    margin-top: 33px;
  }

  .drop-down-items {
    max-height: 200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .drawer-content {
    // border-radius: 16px;
    margin: 0px;
    padding-top: 2rem;
  }

  .close-btn {
    margin-top: 33px;
  }

  .drop-down-items {
    max-height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .drawer-content {
    border-radius: 16px;
    margin: 16px;
    padding-top: 1rem;
  }

  .close-btn {
    margin-top: 16px;
  }

  .drop-down-items {
    max-height: 250px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .drawer-content {
    border-radius: 16px;
    margin: 16px;
    padding-top: 1rem;
    max-width: 30rem;
  }

  .close-btn {
    margin-top: 16px;
  }

  .drop-down-items {
    max-height: 240px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .drawer-content {
    border-radius: 16px;
    margin: 16px;
    padding-top: 1rem;
    // max-width: 20rem;
  }

  .close-btn {
    margin-top: 16px;
  }
}

.drop-down-items {
  max-height: 240px;
}

.max-Width {
  max-width: 35rem;
}

.btn-outline {
  padding: 25px 35px;
  border: 2px solid #4d4d4d;
  border-radius: 8px;
  height: 48px;
}

.btn-contained {
  padding: 16px 35px;
  // border: 1px solid yellow;
  border-radius: 10px;
  height: 52px;
}

/* For WebKit browsers like Chrome and Safari */
.drop-down-items::-webkit-scrollbar {
  // height: 29px;
  width: 6px;
  /* Width of the scrollbar */
}

.drop-down-items::-webkit-scrollbar-thumb {
  background-color: #808080;
  /* Thumb color */
  border-radius: 8px;
  /* Roundness of the thumb */
}

.drop-down-items:hover::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Thumb color on hover */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(34, 34, 34) inset !important;
  /* This will override the autofill background color */
  -webkit-text-fill-color: white !important;
  /* Set the text color to white */
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}