.terminal_header {
  padding: 1.3rem 4rem;
  @include flex(space-between, center, 0);
  @include media("<=tablet"){
    background-color: #121212;
    padding: 1.3rem 1.8rem;
  }
  button{
    @include media("<=tablet"){
      display: none;
    }
  }
  .cta{
    display: none;
   >div{
   
    color: $yellow;
   p{
    font-size: .99rem;
   }
    
   }
   @include media("<=tablet"){
    @include flex(space-between,center,.5rem);
  }
}
}
