.terminal_header {
  width: 90%;
  margin: 0 auto;
  padding: 1.3rem 0;
  @include flex(space-between, center, 0);
  button{
    @include media("<=tablet"){
      display: none;
    }
  }
  .cta{
    display: none;
    color: $yellow;
   p{
    font-size: .99rem;
   }
    @include media("<=tablet"){
      @include flex(space-between,center,.5rem);
    }
  }
}
