$accsent-color: #333;
$red-border: #ff7a66;
$drop-down-bg: #333333;
$drop-text: #808080;
$general-border-radius: 8px;
$bg: rgba(77, 77, 77, 0.16);

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;

  &:after {
    content: "\0025BC";
    font: normal normal normal 12px/1 FontAwesome;
    color: white;
    right: 14px;
    top: 4px;
    height: 26px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
}
