.career-box {
  color: white !important;
  ul {
    // border: 1px solid red;

    margin-bottom: 1rem;
    li {
      &:hover {
        // background-color: darkblue;
      }
    }
  }
  .rec-group {
    gap: 3rem !important;
  }
}

.roles-grid {
  display: grid;
  grid-template-columns: 2fr 5fr;

  :nth-child(5) {
    // background-color: #383838;
    padding: 3px;
  }
}
